.container-all-page {
  height: 100%;
}

.container-all {
  display: flex;
  height: 100%;
}

.lateral-menu {
  align-items: center;
  background-color: #faf9f9;
  border: 2px solid #111a6f;
  color: #ff9105;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 350px;
}

.lateral-menu > h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lateral-menu > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
}

.lateral-menu > button:hover {
  background-color: #111a6f;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.teste {
  background-color: #faf9f9;
  border: 2px solid #111a6f;
  width: 100%;
}

.teste2 {
  background-color: #faf9f9;
  border: 2px solid #111a6f;
  width: 100%;
}

.instrucao {
  color: #111a6f;
  font-size: 2em;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.container-search {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-search > label {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
  margin-right: 30px;
}

.hiden-link {
  color: transparent;
  cursor: default;
  text-decoration: none;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 90%;
  list-style: none;
  margin-left: 50px;
  margin-top: 30px;
  width: 1600px;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 20px;
  width: 280px;
}

.link {
  text-decoration: none;
}

.card-title {
  color: #111a6f;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.card-img {
  height: 150px;
  width: 200px;
}

.card-price {
  background-color: #ff9105;
  border-radius: 10px;
  color: black;
  font-size: 1.3em;
  margin: auto;
  margin-top: 10px;
  padding: 2px;
  text-align: center;
  width: 110px;
}

.btn-card-produc {
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.515);
  color: #111a6f;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px;
}

.btn-card-product:hover {
  background-color: #111a6f;
  border-radius: 20px;
  color: white;
  padding: 10px;
}
