.container-all-infos {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.card-product-shopping-card {
  border: 1px solid #111a6f;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-product-shopping-card > p {
  font-size: 1.8em;
  text-align: center;
}

.card-product-shopping-card > img {
  align-self: center;
  height: 200px;
  width: 200px;
}

.containet-button-card {
  align-self: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.containet-button-card > button {
  background-color: transparent;
  border: none;
}

#button-icon1 {
  color: #ff9105;
  height: 38px;
  width: 38px;
}

#button-icon2 {
  color: #6c757d;
  height: 38px;
  width: 38px;
}

#button-icon3 {
  color: #111a6f;
  height: 38px;
  width: 38px;
}

.btn-resume {
  margin-left: 45%;
  margin-top: 30px;
}

.empty-cart {
  text-align: center;
  color: #ff9105;
  font-size: 3em;
  margin-top: 20px;
}

.icon-empty-cart {
  color: #111a6f;
}